CDP_API_KEY_NAME=
BASE_SEPOLIA_RPC_URL=
CDP_API_KEY_PRIVATE_KEY=
OPENAI_API_KEY=
TAVILY_API_KEY=
GITHUB_TOKEN=
TWITTER_BEARER_TOKEN=
ETHERSCAN_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="pr-grumpy-advertising-62"